.allignBottomAfter {
  display: inline-block;
  verticalAlign: bottom;
  height: 100%;
  width: 0;
}

.data {
  box-sizing: border-box;
  border-size: 1px;
  border-top: 0px;
  border-style: solid;
  border-color: grey;
}

.dataMid {
  box-sizing: border-box;
  border-size: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: grey;
}

.EventList,
.ChildList,
.PlotList > div {
  margin: 0;
  list-style-type: none;
}

.Event > .children {
  display: none;
}

.Event {
  cursor: pointer;
}

.Event.expandStateOpen > .children {
  display: block;
  padding: 0 0 0 0;
}

.Event.name {
  line-height: 18px;
}

.Event.plot {
  position: relative;
  z-index: 1;
}

.Event.name > .children > div {
  padding: 0 0 0 10px;
}

.Event.name > .children > div > div {
   padding: 0 0 0 1px;
   line-height: 17px;
}
.Event.plot > svg {
  display: block;
}

.Event.plot > .timeline > rect {
  stroke-width: 1;
  stroke: rgb(0,0,0);
}

.BreakDown {
  /*position: relative;*/
  border-size: 1px;
  border-style: solid;
  border-color: grey;
  /*overflow-y: auto;*/
}
/*.Breakdown > .Background {
  background-repeat: repeat;
}*/

.BreakDown > .content > .combine > .EventList {
  /*position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  padding: 0 2px 0 2px;*/
  position: relative;
  left: 0;
  top: 0;
  width: 300px;
  overflow: hidden;
}

.BreakDown > .content> .combine > .PlotList {
  /*position: relative;
  width: auto;
  margin-left: 310px;
  overflow-x: auto;
  z-index: 1;*/
  position: absolute;
  right: 0;
  top: 0;
  left: 310px;
  width: auto;
  overflow: hidden;
}

.BreakDown > .EventData {
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  width: auto;
}

/*///////////////////////////////////// demo stijl ///////////////////////////*/
/*.BreakDown {
  width: auto;
  height: auto;
}*/
